{{#foreach posts}}

    <!-- Post in home -->
    <article class="{{post_class}} col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            {{> sidebar}}
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="{{url}}">
                    <div class="image-background animated fadeInRight" {{#if image}}style="background-image: url({{image}}); background-size:cover; background-position: center;"{{/if}}>
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="{{url}}">
                        <h1 class="title-post">{{title}}</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">{{excerpt words="100"}}&hellip;</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>

{{/foreach}}
