<nav class="col-md-8 col-md-offset-2" aria-label="...">
    <ul class="pager text-right">
        {{#if prev}}
        <li><a href="{{page_url prev}}"><i class="fa fa-angle-left" aria-hidden="true"></i> Older</a></li>
        {{/if}}
        <span class="page-number text-center">Page {{page}} of {{pages}}</span>
        {{#if next}}
        <li><a href="{{page_url next}}">Newer <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
        {{/if}}
    </ul>
</nav>
