<div class="share">
    <ul class="navbar-right list-inline">
        <li>Share this: </li>
        <li>
            <a role="button" class="btn bnt-default" href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://plus.google.com/share?url={{url absolute='true'}}">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google+
            </a>
        </li>
    </ul>
</div>
