<div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="{{date format="YYYY-MM-DDTHH:mm:ssZ"}}" title="{{date format="MMMM D [']YY [at] H:mm"}}">{{date timeago="true"}}</time>
    </div>
    <div class="tags animated fadeInUp">
        {{#if tags}}
            <strong>Tags</strong>
            {{tags separator=""}}
        {{/if}}
    </div>
</div>
