{{!< default}}

<header class="post-header-image sample animated fadeIn" {{#if author.cover}}style="background-image: url({{author.cover}});"{{/if}}>
    <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
        <div class="meta-info-post col-md-2">
            {{> sidebar}}
        </div><!-- .meta-info-post -->
        <div class="col-md-10 animated fadeIn">
            {{#author}}
                <h1 class="title-post">{{name}}</h1>
                <p>{{bio}}</p>
                <strong class="article-count text-center">{{plural pagination.total empty="No posts" singular="% article" plural="% articles"}}</strong>
            {{/author}}
        </div>
    </div>
</header>

{{> excerpts}}

{{#if pagination.total}}
    {{pagination}}
{{/if}}
