<!doctype html>
<html lang="es">
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="{{meta_description}}">


	    <title>{{meta_title}}</title>

        {{! Document settings and metadata }}

        <meta name="designer" content="Jesús Camacho" />
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />

        {{! Icons }}
        <link rel="icon" href="{{asset 'favicon.ico'}}" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/normalize.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/highlight.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/bootstrap.min.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/phantom.css'}}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>

        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="{{@blog.url}}">
                            {{#if @blog.logo}}<img width="25%" src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                            <p class="title-blog">
                                {{@blog.title}}
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        {{navigation}}
                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        {{{body}}}
                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="{{asset 'js/jquery-1.11.3.min.js'}}"></'+'script>');
        }
        </script>

        <script src="{{asset 'js/fastclick.js'}}"></script>
        <script src="{{asset 'js/stellar.js'}}"></script>
        <script src="{{asset 'js/highlight.js'}}"></script>
        <script src="{{asset 'js/bootstrap.min.js'}}"></script>
        <script src="{{asset 'js/phantom.js'}}"></script>
        <script src="{{asset 'js/jquery.timeago.min.js'}}"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
</html>
