{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="post-header-image animated fadeIn" {{#if image}}style="background-image: url({{image}})"{{/if}}>
        <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
            <div class="meta-info-post col-md-2">
                {{> sidebar}}
            </div><!-- .meta-info-post -->
            <div class="col-md-10">
                <h1 class="title-post">{{title}}</h1>
            </div>
        </div>
    </header>

    <div class="article-content col-md-8 col-md-offset-2">
        {{! Temporary indentation shift for Handlebars issue }}
        {{> content}}
    </div>

{{/post}}
