{{!< default}}

{{#post}}

    {{> post-meta}}

    <header class="post-header-image animated fadeIn" {{#if image}}style="background-image: url({{image}});"{{/if}}>
        <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
            <div class="meta-info-post col-md-2">
                {{> sidebar}}
            </div><!-- .meta-info-post -->
            <div class="col-md-10">
                <h1 class="title-post">{{title}}</h1>
            </div>
        </div>
    </header>

    <div class="article-content col-md-8 col-md-offset-2">
        {{! Temporary indentation shift for Handlebars issue }}
        {{> content}}
        {{> share}}
    </div>

    {{#author}}
    <div class="author-post col-md-8 col-md-offset-2 animated fadeIn clearfix">
        <div class="col-md-1 col-md-offset-1">
            <img class="img-responsive img-circle"src="{{image}}" alt="{{name}}" />
        </div>
        <div class="col-md-8">
            <div class="info">
                <a href="{{url}}" class="name">{{name}}</a>
                <p class="bio">{{bio}}</p>
            </div>
            <ul class="navbar-right list-inline">
                <li>{{#if twitter}}<a href="{{twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>{{/if}}</li>
                <li>{{#if facebook}}<a href="{{facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>{{/if}}</li>
            </ul>
        </div>
    </div><!-- author-post -->
    {{/author}}

    {{!> comments}}

{{/post}}
