{{!< default}}

<header class="post-header-image animated fadeIn" {{#if tag.image}}style="background-image: url({{tag.image}});"{{/if}}>
    <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
        <div class="meta-info-post col-md-2">
            {{> sidebar}}
        </div><!-- .meta-info-post -->
        <div class="col-md-10 sample animated fadeIn">
            {{#if tag.name}}
                <h1 class="title-post">{{tag.name}}</h1>
            {{/if}}
            <strong class="article-count text-center">{{plural pagination.total empty="No posts" singular="% article" plural="% articles"}}</strong>
        </div>
    </div>
</header>

{{> excerpts}}

{{#if pagination.total}}
    {{pagination}}
{{/if}}
